/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }
  
  /* Body */
  body {
    color: #333;
    text-align: center;
    /* padding: 20px; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.8)),
      url("../img/bg5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /* Heading */
  h2 {
    margin-bottom: 20px;
    color: white;
    font-size: 2rem;
  }
  
  /* Container untuk profil */
  .container {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.452);
    padding: 30px;
    max-width: 800px;
    margin: 30px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Gambar Profil */
  .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
  }
  
  /* Tabel Profil */
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    font-size: 1rem;
  }
  
  th {
    background: #5d3a9b;
    color: white;
  }
  
  td {
    background-color: #fafafa;
  }
  

  @media (max-width: 768px) {
    .container {
      margin-left: 1rem;
      padding: 20px;
      width: 95%;
    }
  
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
  
    .profile-img {
      width: 120px;
      height: 120px;
    }
  
    th, td {
      font-size: 0.9rem;
      padding: 10px;
    }
  }
  
  @media (max-width: 500px) {
    .container {
      margin-left: 5rem;
      padding: 15px;
      width: 75%;
    }
  
    .profile-img {
      width: 100px;
      height: 100px;
    }
  
    table {
      font-size: 0.8rem;
    }
  
    th, td {
      display: block;
      width: 100%;
      text-align: left;
    }
  
    tr {
      margin-bottom: 10px;
      display: block;
    }
  
    th {
      background-color: #5d3a9b;
      color: white;
      font-weight: bold;
    }
  
    td {
      background-color: #fefefe;
    }
  }
