* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  min-height: auto;
}

body {
  /* background-color: var(--dua); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.8)),
    url("../img/bg5.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Navbar */
/* Sidebar utama */
.main-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background: #031624;
  transition: width 0.2s linear;
  z-index: 10;
  padding-top: 10px;
  overflow-x: hidden;
  overflow: visible;
}

/* Logout tetap di bawah */
.logout {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.main-menu:hover {
  width: auto;
}

/* Item menu
  .main-menu > ul > li {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
  } */

.main-menu > ul > li > a {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  width: 100%;
  color: white;
  /* transition: background 0.2s ease; */
  position: relative;
  text-decoration: none;
}

/* Ikon menu */
.nav-icon {
  width: 40px;
  font-size: 20px;
  text-align: left;
  margin-left: -20px;
}

/* Sembunyikan teks sebelum hover */
.nav-text {
  opacity: 0;
  width: 0;
  margin-left: 7px;
  overflow: hidden;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out, width 0.2s ease-in-out;
}

/* Tampilkan teks saat hover */
.main-menu:hover .nav-text {
  opacity: 1;
  width: auto;
}

/* Efek hover pada menu utama */
.main-menu li:hover > a,
.main-menu li.active > a,
.main-menu li > a:focus {
  background-color: rgba(29, 79, 215, 0.9);
  border-radius: 5px;
  width: 100%;
}

/* Dropdown */
.has-dropdown {
  position: relative;
}

.has-dropdown .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #05263e;
  list-style: none;
  padding: 5px 0;
  width: 120px;
  border-radius: 5px;
  z-index: 100;
  overflow: hidden;
}

.has-dropdown:hover .dropdown {
  display: block;
}

.dropdown li {
  width: 100%;
}

.dropdown li a {
  display: block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  transition: background 0.2s ease;
}

.dropdown li a:hover {
  background-color: rgba(29, 79, 215, 0.9);
}

/* Corousel */

.carousel-inner img,
.carousel-inner video {
  height: 400px;
  object-fit: cover;
}
button:hover {
  background-color: rgba(0, 0, 0, 0);
}

/* Container untuk card */
.card-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* card */
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Galery */
.caption {
  display: flex;
  gap: 60rem;
  color: white;
  font-size: 1rem;
}
.caption h3 {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.caption a {
  color: white;
  text-decoration: none;
}

/* Gallery */
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 55px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.9rem;
  justify-content: center;
  color: white;
}

.gallery-item {
  position: relative;
  margin: 1rem;
  width: 8rem;
  height: 12rem;
  color: white;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease;
  border-radius: 8px;
  border: 1px solid #d8bfd8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  pointer-events: none;
}

.gallery-item:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.overlay h4 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.overlay p {
  font-size: 0.9rem;
  margin: 0.3rem 0;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 7%;
  background-color: #031624;
  margin: 0;
  width: 100%;
}

footer .col {
  display: flex;
}
footer .social a {
  color: #fff;
  padding: 0.5rem;
}
footer .social a:hover {
  color: var(--empat);
}
footer .links a {
  font: 300 1rem Poppins;
  display: inline-block;
  color: #fff;
  margin-left: 5rem;
  text-decoration: none;
}
footer .links a:hover {
  color: #30ffa4;
}
footer .credit a {
  font: 100 1rem Poppins;
  color: #fff;
  margin: 1rem;
  text-decoration: none;
}
footer .credit a span {
  color: #fff4b4;
}

@media (max-width: 600px) {
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.8)),
      url("/img/bg vertical.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
}

@media (max-width: 500px) {
  .card {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .card-img-top {
    height: 70px;
    object-fit: cover;
  }

  .card-body {
    padding: 10px;
  }

  .card-body p,
  .card-body .btn {
    font-size: 0.7rem;
  }

  .carousel-inner img,
  .carousel-inner video {
    height: 150px;
  }
  .caption {
    gap: 12rem;
  }
  .gallery-item {
    width: 6rem;
    height: 9rem;
  }
}
